HTTP_SERVER_ADDRESS=0.0.0.0:8000
REDIS_ADDRESS=redis:6379
DB_PORT=5432
DB_HOST="localhost"
DB_USER="postgres"
DB_PASS="postgres"
DB_NAME=smylet
SSL_MODE=disable
EMAIL_SENDER_NAME=Smylet
EMAIL_SENDER_ADDRESS=smylet@gmail.com
EMAIL_SENDER_PASSWORD=jekfcygyenvzekke
AWS_ACCESS_KEY_ID=
AWS_REGION=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET_NAME=