HTTP_SERVER_ADDRESS=0.0.0.0:8000
PORT=8000
REDIS_ADDRESS=redis:6379
DB_NAME=smylet
SSL_MODE=disable
DATABASE_URI=postgres://postgres:postgres@postgres:5432/smylet?sslmode=disable
DATABASE_SLOW_THRESHOLD="500ms"
DATABASE_POOL_MAX=50
DATABASE_RESET=true
EMAIL_SENDER_NAME=Smylet
EMAIL_SENDER_ADDRESS=smylet@gmail.com
EMAIL_SENDER_PASSWORD=jekfcygyenvzekke
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=*****
AWS_SECRET_ACCESS_KEY=****
TOKEN_SYMMETRIC_KEY=12345678901234567890123456789012
ACCESS_TOKEN_DURATION=15m
REFRESH_TOKEN_DURATION=24h
ENVIRONMENT="development"
AWS_ACCESS_KEY_ID=
AWS_REGION=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET_NAME=
TOKEN_SYMMETRIC_KEY="DrAcodeuaeitnsoeotpsowjtndkwoaor"
ACCESS_TOKEN_DURATION=10000000m